.App{margin:20px;}
.App input{width:200px;font-size:14px;margin:2px 0;padding:5px 10px;}
.App .txt{font-weight:700;font-size:14px;color:red;vertical-align:middle;margin-left:10px;}
.App .btn_submit{width:224px;height:30px;color:#fff;background:#333;border:none;margin-top:30px;cursor:pointer;transition:all ease-in 0.3s;}
.App .btn_submit:disabled{color:#333;background:#ddd;cursor:not-allowed;}